In [1]:
import lgbm_helper

In [2]:
#in_file = open("in-file", "rb") # opening for [r]eading as [b]inary
#data = in_file.read() # if you only wanted to read 512 bytes, do .read(512)
#in_file.close()

with open("/Users/meiyinlo/Downloads/mode-2.txt", "rb") as f:
    model = lgbm_helper.get_model(f)

In [3]:
lgbm_helper.get_feature_summary_df(model)

,Feature,Importance,Min Value,Max Value
0,self_test_log_list_14_2_max,164,0,21
1,self_test_log_list_15_2_max,101,0,19
2,interface_crc_error_count_16_1_max,3,0,366
3,uncorrectable_error_count_16_2_max,41,0,170929
4,id_not_found_count_16_3_max,8,0,332522
...,...,...,...,...
175,read_recovery_attempts_6_5_diff,197,0,267064207
176,number_of_high_priority_unload_events_6_8_diff,161,0,77866
177,number_of_resets_between_command_acceptance_an...,127,0,427956610
178,hardware_resets_9_1_diff,450,0,423639
179,asr_events_9_2_diff,275,0,122411912

In [5]:
bst =  lgbm_helper.get_booster(model)
model_details = bst.dump_model()

In [7]:
dir(model_details)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [11]:
list(model_details.keys())

['name',
 'version',
 'num_class',
 'num_tree_per_iteration',
 'label_index',
 'max_feature_idx',
 'objective',
 'average_output',
 'feature_names',
 'monotone_constraints',
 'feature_infos',
 'tree_info',
 'feature_importances',
 'pandas_categorical']

In [19]:
model_configuration = dict()
for k in model_details.keys():
    if not k in ['tree_info' , 'feature_names' , 'feature_importances' , 'feature_infos'] :
      #print(k , model_details[k])
        model_configuration[k] = model_details[k]

In [22]:
model_configuration

{'name': 'tree',
 'version': 'v4',
 'num_class': 1,
 'num_tree_per_iteration': 1,
 'label_index': 0,
 'max_feature_idx': 179,
 'objective': 'regression',
 'average_output': False,
 'monotone_constraints': [],
 'pandas_categorical': None}

In [26]:
import pandas as pd
pd.DataFrame([ model_configuration ]).T.reset_index(drop=False).set_axis(['key','value'], axis=1)

                      key       value
0                    name        tree
1                 version          v4
2               num_class           1
3  num_tree_per_iteration           1
4             label_index           0
5         max_feature_idx         179
6               objective  regression
7          average_output       False
8    monotone_constraints          []
9      pandas_categorical        None

In [15]:
for k in model_details.keys():
    if not k in ['tree_info' , 'feature_names' , 'feature_importances' , 'feature_infos'] :
      print(k , model_details[k])

name tree
version v4
num_class 1
num_tree_per_iteration 1
label_index 0
max_feature_idx 179
objective regression
average_output False
monotone_constraints []
pandas_categorical None

In [16]:
tree_sizes = [len(tree['tree_structure']) for tree in model_details['tree_info']]

In [18]:
len(model_details['feature_names'])

180

In [27]:
len(model_details['tree_info'])

140

In [29]:
model_details['tree_info'][0].keys()

dict_keys(['tree_index', 'num_leaves', 'num_cat', 'shrinkage', 'tree_structure'])

In [30]:
len(model_details['tree_info'][0])

5

In [32]:
selected_tree_columns = ['tree_index', 'num_leaves', 'num_cat', 'shrinkage' ]
tree_info = [ {k : tree[k] for k in selected_tree_columns } for tree in model_details['tree_info'] ]

In [34]:
 model.trees_to_dataframe()

,tree_index,node_depth,node_index,left_child,right_child,parent_index,split_feature,split_gain,threshold,decision_type,missing_direction,missing_type,value,weight,count
0,0,1,0-S0,0-S1,0-S4,None,smart_raw_198_used_byte4_max,5.118360e+07,1.000000e-35,<=,left,NaN,178.603000,0.0000,1271615
1,0,2,0-S1,0-S2,0-S3,0-S0,device_error_count_3_1_max,2.646170e+07,7.500000e+00,<=,right,NaN,178.653000,886316.0000,1234452
2,0,3,0-S2,0-S7,0-S5,0-S1,hardware_resets_9_1_diff,1.197470e+07,2.450000e+01,<=,right,NaN,178.724000,800487.0000,1106350
3,0,4,0-S7,0-S14,0-S24,0-S2,long_latency_write_count_201_6_max,3.844640e+06,1.705000e+02,<=,right,NaN,178.795000,660384.0000,895292
4,0,5,0-S14,0-S16,0-S25,0-S7,reallocated_logical_sectors_6_4_max,2.175680e+06,1.500000e+00,<=,right,NaN,178.833000,573019.0000,764028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27855,139,5,139-L5,None,None,139-S4,None,NaN,NaN,None,None,None,-2.634186,14.7847,21
27856,139,4,139-S3,139-L3,139-L4,139-S2,current_temperature_8_1_max,8.069420e+04,3.650000e+01,<=,left,NaN,-1.131690,97.5793,138
27857,139,5,139-L3,None,None,139-S3,None,NaN,NaN,None,None,None,-3.312665,21.2361,30
27858,139,5,139-L4,None,None,139-S3,None,NaN,NaN,None,None,None,-0.525020,76.3432,108
27859,139,3,139-L2,None,None,139-S1,None,NaN,NaN,None,None,None,-4.141878,20.1550,32

In [47]:
tree_detail = model.trees_to_dataframe()
len(tree_detail[tree_detail['tree_index'] == 0])

199

In [48]:
tree_detail = tree_detail.groupby('tree_index').agg(max_node_depth = ('node_depth' , 'max'), count_distinct_node_index=('node_index','nunique') 
                                                    , count_distinct_features = ('split_feature' , 'nunique')
                                                    , count_rows=('node_index','count')).reset_index(drop=False)
assert len(tree_detail[tree_detail['count_distinct_node_index'] == tree_detail['count_rows']] ) == len(tree_detail)

In [43]:
tree_info = pd.DataFrame(tree_info)

In [49]:
tree_info.merge(tree_detail , on=['tree_index'])

,tree_index,num_leaves,num_cat,shrinkage,max_node_depth,count_distinct_node_index,count_distinct_features,count_rows
0,0,100,0,1.00,15,199,43,199
1,1,100,0,0.04,14,199,41,199
2,2,100,0,0.04,13,199,46,199
3,3,100,0,0.04,13,199,43,199
4,4,100,0,0.04,14,199,39,199
...,...,...,...,...,...,...,...,...
135,135,100,0,0.04,20,199,41,199
136,136,100,0,0.04,21,199,50,199
137,137,100,0,0.04,26,199,49,199
138,138,100,0,0.04,23,199,44,199
139,139,100,0,0.04,24,199,42,199